VITE_SUPABASE_PROJECT_ID="lfxkabhzfgenpqfnhjyw"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_DUMMY_m356QDIw"
VITE_SUPABASE_URL="https://lfxkabhzfgenpqfnhjyw.supabase.co"

RESEND_API_KEY="re_aHgSoB4S_JmETFieecvtyETWW5uYa6KzJ"

# Clerk Auth
VITE_CLERK_PUBLISHABLE_KEY="pk_test_..."
CLERK_JWKS_URL="https://<your-clerk-domain>/.well-known/jwks.json"
CLERK_SECRET_KEY="sk_test_..."