VITE_SUPABASE_PROJECT_ID="lfxkabhzfgenpqfnhjyw"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_DUMMY_m356QDIw"
VITE_SUPABASE_URL="https://lfxkabhzfgenpqfnhjyw.supabase.co"

RESEND_API_KEY="re_aHgSoB4S_JmETFieecvtyETWW5uYa6KzJ"